name: Test Wilson's Server with Jonathan's Client
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Golang
        uses: actions/setup-go@v4
        with:
          go-version: '1.19'
      - name: Build binaries
        run: make all
      - name: Create server and client directories
        run: mkdir serverStuff clientStuff
      - name: Create a test file in client
        run: echo "Hello, Server!" > ./clientStuff/client.txt
      - name: Create a test file in server
        run: echo "Hello, Client!" > ./serverStuff/server.txt
      - name: Start Wilson's server and run Jonathan's Client
        run: |
          # Start the server in the background
          ./bin/wilson/server 9898 ./serverStuff &
          # Wait for the server to start
          sleep 5 
          # Run the client put request
          ./bin/jonathan/client localhost:9898 put ./clientStuff/client.txt
          # Run the client get request
          ./bin/jonathan/client localhost:9898 get server.txt
      - name: Check client file existence in server directory
        id: check_client_files
        uses: andstor/file-existence-action@v3
        with:
          files: "./serverStuff/client.txt"
      - name: Check server file existence in client directory
        id: check_server_files
        uses: andstor/file-existence-action@v3
        with:
          files: "./clientStuff/server.txt"
